body{
    font-family: "Roboto";
    background-color: rgb(233, 233, 233);
    margin: 0;
}

.mainTitle{
    margin-left: 220px;
    font-size: 22px;
    font-weight: 500;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.column{
    width: 270px;
    margin: 25px;
}

.box{
    padding: 16px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}

.title{
    font-size:17px ;
    margin-bottom: 13px;
    font-weight: 500;
}

.thumbnailContainer{
    border-radius: 1.9px;
    object-fit:contain;
    width: 270px;
    margin: auto;
    margin-bottom: 17px;
    overflow: hidden;
}

.thumbnail{
    width: 100%;
    margin-bottom: -5px;
}

.opText{
    font-size: 12px;
    opacity: 0.7;
}

.statContainer{
    margin-bottom: 25px;
}

.stat{
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    color: #242424;
}

.link{
    font-size: 14px;
    margin-top: 11px;
}

.link a{
    color: #0064b6;
    text-decoration: none;
}

.newsTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:17px ;
    margin-bottom: 15px;
    font-weight: 500;
}

.arrow{
    font-weight:300;
}

.newsImgBox{
    width: 270px;
    margin: auto;
    object-fit: contain;
    margin-bottom: 15px;
}

.newsImg{
    width: 100%;
}

.BoxTitle{
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto";
    margin-bottom: 8px;
}

.sumy{
    margin-bottom: 5px;
}

/* .CR_content{
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 17px;
} */

.currentSubcr{
    font-size: 12px;
    margin-bottom: 2px;
}

.subcrNum{
    font-size: 28px;
    font-family: "Roboto";
    font-weight: 400;
    margin-bottom: 6px;
}

.plusNum{
    color: #00c200;
    font-size: 14px;
}

.plusDate{
    opacity: 0.8;
    font-size: 14px;
}

.spanBox{
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.secondFloor{
    border-bottom: 1px solid lightgray;
    padding-bottom: 13px;
}

.amountContainer{
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Amount{
    margin-right: 3px;
}

.Percent{
    color: #00c200;
}



